/* * {
    outline: 1px red solid;
  } */

  html{
    scroll-behavior: smooth;
  }
  
  html, body{
      margin:0;
      box-sizing:50px;
  }
  
  /*----- Panel 1 -----*/
  .panel1{
      margin: 0 auto;
      background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/wallp_panel1_mobile.jpg);
      background-size: cover;
  }
  
  .topnav {
    overflow: hidden;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }

  .topnav #myLinks a{
    font-size: 15px;
  }
  
  .topnav a {
    background: transparent;
    float: right;
    color: white;
    padding: 14px 17px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a.icon {
    float: left;
  }
  
  .topnav a:hover {
    background-color:transparent;
  }
  
  .active {
    visibility: hidden;
    color: white;
  }

  /* ----------------------------------------------- */

  .dropbtn {
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    padding: 13px 16px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .dropdown img{
    width: 12vw;
  }

  .dropdown a:hover{
    background: transparent;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    overflow: auto;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #FFFFFF;
    padding: 12px 0px;
    text-decoration: none;
    display: block;
  }
  
  .show {display: block;}
  /* ----------------------------------------------- */
  .logo {
    padding-top: 20px;
  }
  
  .logo img{
    width: 25%;
    height: 25%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  
  .tulisan {
      position: relative;
      width: 230px;
      height: 336px;
      margin-left: auto;
      margin-right: auto;
      font-family: Gelasio;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 130%;
      text-align: center;
      color: #ffffff;
  }
  
  .ContactUs {
    align-items: center;
    padding: 10% 0 10% 0;
  }
  
  @media (min-device-width: 540px) and (max-device-width: 1024px) and (orientation: portrait) {
    .tulisan {
      position: relative;
      width: 420px;
      height: 336px;
      margin-left: auto;
      margin-right: auto;
      font-family: Gelasio;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 130%;
      text-align: center;
      color: #ffffff;
    }
  
    .Grader {    
      display: flex;
      width: 6%;
      height: 6%;
      margin-bottom: -9%;
      margin-top: -4%;
      padding-left: 69%;
  }
  
  .Halal {    
      display: flex;
      width: 6%;
      height: 6%;
      margin-top: 3%;
      padding-bottom: 10%;
      padding-left: 78%;
  }
  
  .ContactUs {
    margin-left: -30%;
      margin-top: 48%;
  }
  }
  
  @media (min-device-width: 540px) and (max-device-width: 1024px) and (orientation: landscape) {
    .Grader {    
      display: flex;
      width: 11%;
      height: 11%;
      margin-bottom: -45px;
      padding-left: 23.8%;
    }
  
    .Halal {    
      display: flex;
      width: 11%;
      height: 11%;
      margin-top: -9.2%;
      padding-bottom: 10%;
      padding-left: 66%;
    }
  }
  
  .RedBox {
      position:relative;
      width: 134px;
      height: 28px;
      margin-left: auto;
      margin-right: auto;
      background: #C1393D;
      border-radius: 10px;
  }
  
  .text {
      position:relative;
      text-align: center;
      padding-top: 5%;
  
      font-family: 'Lora';
      font-style: normal;
      font-weight: bold;
      font-size: 11px;
      line-height: 111.5%;
      letter-spacing: 0.11em;
  
      color: #ffffff;
  }

  /* ------------------ sertifikasi ------------------- */

  .sertifikasi{
    margin-top: -5%;
    background: #E0D5C4;
  }

  .sertifikasi h3{
    padding-top: 10%;
    text-align: center;
    letter-spacing: 5.5%;
    color: #464646;
  }

  .logo-sertif{
    margin-top: 3%;
    text-align: center;
  }

  .sertifikasi img{
    margin: 0 8px 0 8px;
    width: 80px;
  }

  .desc-sertif{
    margin: auto;
    padding: 10px 0;
    text-align: center;
    width: 75%;
  }

  
  .desc-sertif p{
    font-size: 15px;
    color: #89786A;
    font-family: "Gotham", sans-serif;
  }
  
  .desc-sertif span{
    color: #C1393D;
  }
  
  .desc-sertif2{
    margin: auto;
    padding: 10px 0;
    text-align: center;
    width: 78%;
  }

  .desc-sertif2 p{
    font-size: 15px;
    color: #89786A;
    font-family: "Gotham", sans-serif;
  }

  .desc-sertif2 span{
    color: #C1393D;
  }

  /* ------------------ panel 2 ------------------- */
  
  .panel2 {
      background-color: #CABBA4;
      height: max-content;
      display: block;
      justify-content: center;
  }
  
  .content1 {
      padding-top: 20px;
      display: flex;
  }
  
  .content2 {
      margin-top: -7%;
      display: flex;
  }
  
  @media (min-device-width: 540px) and (max-device-width: 1024px) and (orientation: portrait) {
    .content2 {
      margin-top: -2%;
      display: flex;
    }
  }
  
  @media (min-device-width: 540px) and (max-device-width: 1024px) and (orientation: landscape) {
    .content2 {
      margin-top: 0.5%;
      display: flex;
    }
  }
  
  .content1 img,
   .content2 img{
      width: 140px;
      height: 180px;
      margin-top: 20px;
  }
  
  .content1 ul,
   .content2 ul{
      list-style: none;
      
      margin-left: auto;
      margin-right: auto;
  }
  
  .content1 ul li,
   .content2 ul li{
      display: inline;
      list-style: none;
      float: left;
      text-align: center;
  }
  
  .content_kiri {
      margin-left: -8.85%;
      margin-right: 8%;
  }
  
  /* @media (min-device-width: 540px) and (max-device-width: 1024px) and (orientation: portrait) {
    .content_kiri {
      margin-left: -8%;
      margin-right: 5%;
    }
  
    .content1 ul,
   .content2 ul{
      list-style: none;
      
      margin-left: auto;
      margin-right: 50%;
    }
  } */
  
  
    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 25px; /* Location of the box */
      padding-left: 2%;
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: none; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.6);
    }
  
    
    
    /* Modal Content (image) */
    .modal-content {
      display: block;
      max-width: 95%;
      max-height: 100%;
      border-radius: 10px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    
    /* Caption of Modal Image */
    #caption {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
      text-align: center;
      color: #ccc;
      padding: 10px 0;
      height: 150px;
    }
  
    /* Add Animation */
    .modal-content, #caption {  
      -webkit-animation-name: zoom;
      -webkit-animation-duration: 0.1s;
      animation-name: zoom;
      animation-duration: 0.1s;
    }
    
    @-webkit-keyframes zoom {
      from {-webkit-transform:scale(0.5)} 
      to {-webkit-transform:scale(1)}
    }
    
    @keyframes zoom {
      from {transform:scale(0.5)} 
      to {transform:scale(1)}
    }
    
    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
      .modal-content {
        width: 100%;
      }
    }
  
  .container{
      position: relative;
      height: 90%;
      margin: 0 auto;
      max-width: max-content;
      max-height: max-content;
  }
  
  
  .container{  
      -webkit-animation-name: zoom;
      -webkit-animation-duration: 0.6s;
      animation-name: zoom;
      animation-duration: 0.6s;
    }
    
    @-webkit-keyframes zoom {
      from {-webkit-transform:scale(0)} 
      to {-webkit-transform:scale(1)}
    }
    
    @keyframes zoom {
      from {transform:scale(0)} 
      to {transform:scale(1)}
    }
  
  /* ------------ MODAL WINDOWS FOR TEXT --------------*/
  
  .myText {
      cursor: pointer;
      transition: 0.3s;
    }
  
    .myText:hover {opacity: 0.7;}
  
  
  
  
  
  /* -------------------- MODAL2 ------------------ */
    /* The Modal2 (background) */
    .modal2 {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 25px; /* Location of the box */
      padding-left: 2%;
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: none; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.6);
    }
  
    
    
    /* Modal Content (image) */
    .modal-content2 {
      display: block;
      max-width: 95%;
      max-height: 100%;
      border-radius: 10px;
      position: relative;
      top: 280px;
      transform: translateY(-50%);
    }
    
    /* Caption of Modal Image */
    #caption2 {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
      text-align: center;
      color: #ccc;
      padding: 10px 0;
      height: 150px;
    }
  
    /* Add Animation */
    .modal-content2, #caption2 {  
      -webkit-animation-name: zoom;
      -webkit-animation-duration: 0.1s;
      animation-name: zoom;
      animation-duration: 0.1s;
    }
    
    @-webkit-keyframes zoom {
      from {-webkit-transform:scale(0.5)} 
      to {-webkit-transform:scale(1)}
    }
    
    @keyframes zoom {
      from {transform:scale(0.5)} 
      to {transform:scale(1)}
    }
    
    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
      .modal-content {
        width: 100%;
      }
    }
  
  .container2{
      position: relative;
      height: 90%;
      margin: 0 auto;
      max-width: max-content;
      max-height: max-content;
  }
  
  
  .container2{  
      -webkit-animation-name: zoom;
      -webkit-animation-duration: 0.6s;
      animation-name: zoom;
      animation-duration: 0.6s;
    }
    
    @-webkit-keyframes zoom {
      from {-webkit-transform:scale(0)} 
      to {-webkit-transform:scale(1)}
    }
    
    @keyframes zoom {
      from {transform:scale(0)} 
      to {transform:scale(1)}
    }
  
  /* ------------ MODAL2 WINDOWS FOR TEXT --------------*/
  
  .myText2 {
      cursor: pointer;
      transition: 0.3s;
    }
  
    .myText2:hover {opacity: 0.7;}
  
  
  
  
  /* ---------------------panel 3------------------------- */
  .panel3{
    margin-top: -30px;
    background-size: 100%;
    background-image: url(../assets/background\ hape.png);
  }
  
  @media (min-device-width: 540px) and (max-device-width: 1024px) and (orientation: portrait) {
    .panel3{
      height: max-content;
      background-size: 100%;
      background-image: url(Assets/wallpaper\ tembok\(ipad\).jpg);
    }
  }
  
  .product{
    text-align: center;
  }
  
  .product .p1{
    padding-top: 20px;
    font-family: Lora;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 113%;
    /* or 34px */
  
    letter-spacing: 0.015em;
  
    color: #665344;
  }
  
  .product .p2{
    margin-top: -35px;
    font-family: Lora;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    /* or 34px */
  
    letter-spacing: 0.015em;
  
    color: #665344;
  }
  
  .available{
    display: flex;
    padding-top: 3px;
    
    font-family: Lora;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 113%;
    /* or 14px */
    
    justify-content: center;
    letter-spacing: 0.065em;
    
    color: #665344;
  }
  
  .table3{
    display: flex;
    justify-content: center;
  }
  
  table img{
    width: 55px;
    height: 60px;
  }
  
  .wa_logo{
    padding-top: 2%;
  }
  
  .button3{
    background-color: #C7AF8B;
    border: none;
    border-radius: 19px;
    padding: 8px 33px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  }
  
  .font3{
    font-weight: bold;
    font-size: 12px;
    font-family: 'Lora';
    padding-left: 20px;
    text-decoration: none;
    color: black;
  }
  
  .buttonpanel3{
    margin-top: -10px;
    display: flex;
    justify-content: center;
  }
  
  /*----- Slideshow -----*/
  .mySlides {display: none;}
  
  .mySlides img {
    height: 42%;
    width: 42%;
    margin-left: 32%;
    padding-bottom: 20px;
  }
  
  @media (min-device-width: 540px) and (max-device-width: 1024px) and (orientation: portrait) {
    .mySlides img {
      height: 40%;
      width: 40%;
      margin-top: -5%;
      margin-left: 30.5%;
      margin-bottom: 8%;
    }
  }
  
  @media (min-device-width: 540px) and (max-device-width: 1024px) and (orientation: landscape) {
    .mySlides img {
      height: 35%;
      width: 35%;
      margin-top: 4%;
      margin-left: 32.5%;
      margin-bottom: 8%;
    }
  }
  
  @media (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
    .mySlides img {
      height: 40%;
      width: 40%;
      margin-top: -5%;
      margin-left: 30.5%;
      margin-bottom: 8%;
    }
  }
  
  
  /* Slideshow container */
  .slideshow-container {
    padding-top: 5%;
    position: relative;
  }
  
  @media screen and (max-width: 450px) {
    .slideshow-container {
      padding-top: 10%;
      position: relative;
    }
  }
  
  @media screen and (max-width: 390px) {
    .slideshow-container {
      padding-top: 5%;
      position: relative;
    }
  }
  
  @media screen and (max-width: 360px) {
    .slideshow-container {
      padding-top: 2%;
      position: relative;
    }
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /*----- Panel 4 -----*/
  .panel4{
    background-color: #FDF8F1;
    height: max-content;
    padding-bottom: 10px;
  }
  
  .wrap_contact{
    margin-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .kartu_contact{
    border-radius: 10px;
    background: white;
    width: 70%;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.20);
  }
  
  .isi_contact{
    margin-top: -15px;
    margin-left: -22px;
  }
  
  .judul_contact{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    display: inline-flex;
    background-color: #A4282A;
  }

  .judul_contact font{
    padding: 5px 0 5px 0;
  }

  .judul_contact .font2{
    font-size: 30px;
    padding: 5px 0 5px 2px;
  }
  
  .judul_contact img{
    width: 40px;
    height: 40px;
    padding: 5px 0 5px 10px;
  }
  
  .panel4 font{
    padding-left: 10px;
    font-size: 30px;
    font-family: 'lato', sans-serif;
    color: white;
  }
  
  .panel4 ul{
    list-style: none;
  }
  
  .panel4 ul .email_icon:before{
    content: '\f0e0';
    font-family: 'FontAwesome';
    margin-right: 1.5rem;
  }
  
  .panel4 ul .phone::before{
    content: '\f095';
    font-family: 'FontAwesome';
    margin-right: 1.5rem;
  }
  
  .panel4 ul .wa::before{
    content: '\f232';
    font-family: 'FontAwesome';
    margin-right: 1.5rem;
  }
  
  .panel4 li{
    padding-top: 10px;
  }
  
  .wrap_rect{
    margin-top: 10px;
    justify-content: center;
    display: flex;
  }
  
  .flex {
    gap: 25px;
    display:flex;
    justify-content: center;
    padding-top: 15px;
  }
  
  .flex img {
    width: 35px;
    height: 35px;
  }
  
  .flex img:hover{
    transform: translateY(-10px);
  }
  
  .footer_nav{
    margin-top: 70px;
  }
  
  .footer_nav ul{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-type: disc;
    margin-top: -17%;
    padding-left: 90px;
  }
  
  .footer_nav ul{
    list-style-image: url(Assets/coffee\ beans\ icon\ 17.png);
  }
  
  @media (min-device-width: 540px) and (max-device-width: 1024px) and (orientation: portrait) {
    .footer_nav ul{
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
      list-style-type: disc;
      margin-top: -50px;
      padding-left: 80px;
    }
  }
  
  .footer_nav a{
    text-decoration: none;
    color: black;
  }
  
  .footer_nav li::marker {
    font-size: 25px;
  }
  
  footer{
    display: inline-flex;
    justify-content: center;
    background-color: #A4282A;
    height: max-content;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 2px;
  }
  
  footer p{
    color: white;
    font-size: 7px;
    font-family: 'lato', sans-serif;
  }
  
  footer span{
    font-weight: bold;
  }
  
  footer img{
    padding-left: 10px;
    width: 120px;
    height: 20px;
  }
  
  /* PANEL GOJEK DAN GRABFOOD */
  
  .panel3b {
    margin-top: -2%;
    background-color: rgb(231, 229, 229);
    display: flex;
    justify-content: center;
  
  }
  
  .pesan{
    display: flex;
    justify-content: center;
  }
  
  .del {
    margin-top: 3%;
    margin-bottom: 0%;
    padding-left: 10px;
  }
  
  .del td{
    padding-right: 10px;
  }
  
  .del img{
    width: 45px;
    height: 45px;
  }
  
  .del .text_p3b{
    height: 50px;
    width: 170px;
    margin-left: 0%;
  }
  
  .lokasi{
    margin-top: -10px;
    display: flex;
    justify-content: center;
  }
  
  .lokasi img{
    width: 140px;
  }
  
  .rectangle {
    height: 2px;
    width: 70%;
    margin-left: 1.7vw;
    background-color: #656565;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.20);
  }
  
  .rectangle_foot {
    height: 10px;
    width: 100%;
    background-color: #656565;
  }
  
  .productedby{
    margin-top: 10px;
    width: 100%;
    gap: 10px;
    display: inline-flex;
    justify-content: center;
  }


/* ---------------- LOKASI --------------- */
.lokasi{
  margin-top: 0%;
}

.desc-lokasi{
  padding-left: 10%;
  width: 100%;
  background: #C1393D;
}

.desc-lokasi h3{
  font-family: "Lora", sans-serif;
  color: #F2F2F2;
  font-weight: 100;
}

.desc-lokasi h1{
  margin-top: -1%;
  font-family: "Gotham", sans-serif;
  color: #FFF84D;
}

.rectangle2{
  margin-top: 1px;
  height: 3px;
  width: 80%;
  background: #FFF84D;
}

.text-lokasi p{
  font-size: 15px;
  font-weight: 100;
  margin-top: 17px;
  font-family: "Gotham", sans-serif;
  color: #F2F2F2;
  width: 80%;
}

/* ----------------- MAP ------------------ */

.map{
  text-align: center;
  background: #F4F4F4;
}

.map-group{
  padding: 30px 10px 30px 10px;
}

.map img{
  background: #FFFFFF;
  padding: 20px 0 20px 0;
  border-radius: 14px;
  width: 90vw;
  height: 65vw;
}